node_modules
.next
.git
.github
.vercel
coverage
output
*.log
.DS_Store
next-env.d.ts
*.tsbuildinfo
.env
.env.selfhost
.env.local
.env.*.local
.env*.inspect
.env.preview.branch
wordpress-plugin/*.zip
